<a href="https://colab.research.google.com/github/swamptoday/colab-files/blob/main/APFP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice 1

## Завдання 1: Виконайте інструкцію щодо роботи з календарем.

### 1. Вивчіть довідку для модуля calendar.

This module allows you to output calendars like the Unix cal program, and provides additional useful functions related to the calendar. By default, these calendars have Monday as the first day of the week, and Sunday as the last (the European convention). Use setfirstweekday() to set the first day of the week to Sunday (6) or to any other weekday. Parameters that specify dates are given as integers. For related functionality, see also the datetime and time modules.

The functions and classes defined in this module use an idealized calendar, the current Gregorian calendar extended indefinitely in both directions. This matches the definition of the “proleptic Gregorian” calendar in Dershowitz and Reingold’s book “Calendrical Calculations”, where it’s the base calendar for all computations. Zero and negative years are interpreted as prescribed by the ISO 8601 standard. Year 0 is 1 BC, year -1 is 2 BC, and so on.

### 2. Імпортуйте модуль calendar.

In [ ]:
import calendar

### 3. Знайдіть файл модуля calendar і вивчіть його вміст.

### 4. Отримайте список доступних атрибутів модуля calendar.

In [ ]:
attr_calendar = dir(calendar)

print(attr_calendar)

['Calendar', 'EPOCH', 'FRIDAY', 'February', 'HTMLCalendar', 'IllegalMonthError', 'IllegalWeekdayError', 'January', 'LocaleHTMLCalendar', 'LocaleTextCalendar', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'TextCalendar', 'WEDNESDAY', '_EPOCH_ORD', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_colwidth', '_locale', '_localized_day', '_localized_month', '_monthlen', '_nextmonth', '_prevmonth', '_spacing', 'c', 'calendar', 'datetime', 'day_abbr', 'day_name', 'different_locale', 'error', 'firstweekday', 'format', 'formatstring', 'isleap', 'leapdays', 'main', 'mdays', 'month', 'month_abbr', 'month_name', 'monthcalendar', 'monthrange', 'prcal', 'prmonth', 'prweek', 'repeat', 'setfirstweekday', 'sys', 'timegm', 'week', 'weekday', 'weekheader']

### 5. Дізнайтеся чи є 2027 рік високосним завдяки модулю calendar.

In [ ]:
year = 2027

if calendar.isleap(year):
    print(f"{year} рік є високосним.")
else:
    print(f"{year} рік не є високосним.")

2027 рік не є високосним.

### 6. Визначте за допомогою модуля calendar, яким днем тижня був день 25 червня 1995 року.

In [ ]:
week_days = ['Montag', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
print(week_days[calendar.weekday(1995, 6, 25)])

Sunday

### 7. Виведіть у консоль календар на 2023 рік.

In [ ]:
print(calendar.TextCalendar(calendar.MONDAY).formatyear(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

## Завдання 2: Пакет FuzzyWuzzy – це бібліотека для нечіткого порівняння рядків. Нечітке порівняння рядків дозволяє визначитися в однаковості рядків і встановити ступінь їх схожості. При роботі з цією бібліотекою виконати такі поточні завдання.

### Вивчіть документацію для пакета fuzzywuzzy на https://pypi.org/.

### Встановіть пакет за допомогою менеджера пакетів pip.

In [ ]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

### Визначте, які модулі включають пакет fuzzywuzzy.

In [ ]:
# fuzz.py, process.py, string_processing.py, StringMatcher.py, utils.py

### Вивчіть модуль для базового порівняння рядків fuzz (входить в пакет): імпортуйте його і отримаєте список доступних атрибутів.

In [ ]:
import fuzzywuzzy as fw

attrs_fw = dir(fw)

print(attrs_fw)

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__']

### Вивчіть синтаксис методу для базового нечіткого порівняння рядків ratio () (входить до складу модуля fuzz); цей метод повертає індекс схожості 2 рядків.

In [ ]:
from fuzzywuzzy import fuzz
string1 = "Example string"
string2 = "Example strin"

similarity_index = fuzz.ratio(string1, string2)

print("Індекс схожості:", similarity_index)

Індекс схожості: 96

/usr/local/lib/python3.10/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

### Скористайтеся методом ratio () для порівняння таких рядків:

1.   «Поганий код насправді не поганий.» і «Його не так зрозуміли.»
2.   «Працює? Не чіпай.» і «працює? Не чіпай.»
3.   «Працює? Не чіпай.» і «працює? Не чіпай!».

In [ ]:
print(1)
string1 = "Поганий код насправді не поганий."
string2 = "Його не так зрозуміли."

similarity_index_1 = fuzz.ratio(string1, string2)
print("Індекс схожості 1:", similarity_index_1)
print()

print(2)
string3 = "Працює? Не чіпай."
string4 = "працює? Не чіпай."

similarity_index_2 = fuzz.ratio(string3, string4)
print("Індекс схожості 2:", similarity_index_2)
print()

print(3)
string5 = "Працює? Не чіпай."
string6 = "працює? Не чіпай!"

similarity_index_3 = fuzz.ratio(string5, string6)
print("Індекс схожості 3:", similarity_index_3)

1
Індекс схожості 1: 36

2
Індекс схожості 2: 94

3
Індекс схожості 3: 88

## Завдання 3: Модулі Python сприяють запобіганню конфліктів імен. Напишіть для своєї програми модуль з ім’ям mymodule, який визначає функцію reverse. У цій програмі використати модуль othermodule, який також визначає функцію з ім’ям reverse, яка робить відмінне від введеної функції reverse. Мовою без модулів неможливо використовувати дві різні функції з ім’ям reverse. Звернутися до функцій з іменами mymodule.reverse і othermodule.reverse в програмі.

### Для надання можливості використання написаних вами модулів, необхідно виконати таку інструкцію:

*   розмістити модулі у каталозі, в якому Python шукає модулі;
*   розмістити всі модулі, що використовуються програмою Python, в
одному каталозі з програмою.

### Створити каталог (або каталоги) для зберігання модулів і змінити змінну sys.path, щоб вона включала цей новий каталог (або каталоги). Якщо ваша змінна sys.path включає такі каталоги, то можна розмістити свої модулі в них.

In [ ]:
!git clone https://github.com/swamptoday/PythonModules.git

from PythonModules import mymodule, othermodule

mymodule.reverse('text')

othermodule.reverse('text')

Cloning into 'PythonModules'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 12 (delta 1), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (12/12), done.
Resolving deltas: 100% (1/1), done.
Reverse method from mymodule
Reverse method from othermodule

# Practice 2

In [ ]:
import re

## 1. Використовуючи регулярні вирази, напишіть програму, яка підсумовує довільну кількість введених користувачем цілих чисел. Програма завершує роботу та здійснює підсумовування при введенні слова stop. Програма припускає введення негативного числа. Якщо замість числа введено рядок, користувачеві видається повідомлення: «Необхідно ввести число, а не рядок».

In [ ]:
def sum_numbers():
    total = 0
    while True:
        user_input = input("Введіть ціле число або 'stop' для завершення: ")

        if user_input.lower() == 'stop':
            break

        if not re.match(r'^-?\d+$', user_input):
            print("Необхідно ввести число (ціле), а не рядок")
            continue

        number = int(user_input)
        total += number

    print("Сума введених чисел:", total)

sum_numbers()

Введіть ціле число або 'stop' для завершення: 5
Введіть ціле число або 'stop' для завершення: d
Необхідно ввести число (ціле), а не рядок
Введіть ціле число або 'stop' для завершення: 6
Введіть ціле число або 'stop' для завершення: 4
Введіть ціле число або 'stop' для завершення: stop
Сума введених чисел: 15

## 2. Запитайте користувача ввести ім'я та прізвище. Використовуючи регулярні вирази, поміняйте місцями ім'я та прізвище та виведіть на консоль.

In [ ]:
def swap_name_and_surname():
    full_name = input("Введіть ваше ім'я та прізвище: ")

    # Розділити ім'я та прізвище за допомогою регулярного виразу
    match = re.match(r'^([А-ЯҐЄІЇа-яґєії]+)\s+([А-ЯҐЄІЇа-яґєії]+)$', full_name)

    if match:
        # Отримати ім'я та прізвище з результуючої групи
        name = match.group(1)
        surname = match.group(2)

        # Вивести прізвище та ім'я
        print("Ім'я та прізвище після обміну:", surname, name)
    else:
        print("Неправильний формат ім'я/прізвище.")

In [ ]:
swap_name_and_surname()

Введіть ваше ім'я та прізвище: 5і 4в
Неправильний формат ім'я/прізвище.

## 3. Використовуючи регулярні вирази, виведіть на консоль усі слова, що стоять в лапках у фрагменті тексту: Потім у його творчості настав період трагедій, що включає твори "Гамлет", "Король Лір", "Отелло" та "Макбет", які вважаються одними з найкращих творів серед написаних англійською мовою. Наприкінці своєї творчості Шекспір написав декілька трагікомедій, а також співпрацював із іншими письменниками.

In [ ]:
text = 'Потім у його творчості настав період трагедій, що включає твори "Гамлет", "Король Лір", "Отелло" та "Макбет", які вважаються одними з найкращих творів серед написаних англійською мовою. Наприкінці своєї творчості Шекспір написав декілька трагікомедій, а також співпрацював із іншими письменниками.'

# Знаходимо всі слова в лапках за допомогою регулярного виразу
quoted_words = re.findall(r'"([^"]+)"', text)

# Виводимо знайдені слова
for word in quoted_words:
    print(word)

Гамлет
Король Лір
Отелло
Макбет

## 4. У текстовому фрагменті виберіть слова, що стоять на початку речення (після точки та пробілу). Також виберіть слова, що стоять наприкінці речення (перед точкою та пропуском).

In [ ]:
# Знаходимо слова на початку речення (після точки та пробілу)
start_of_sentence_words = re.findall(r'\.\s(\w+)', text)

# Знаходимо слова в кінці речення (перед точкою та пропуском)
end_of_sentence_words = re.findall(r'(\w+)\.', text)

# Виводимо знайдені слова
print("Слова на початку речення:", start_of_sentence_words)
print("Слова в кінці речення:", end_of_sentence_words)

Слова на початку речення: ['Наприкінці']
Слова в кінці речення: ['мовою', 'письменниками']

## 5. Перевірити рядок, введений користувачем, на відповідність шаблону, що включає число від 2 до 5 цифр та найменування валюти ($, Euro, UAH, USD, SEK, NOK). Якщо введений рядок не є числом від двох до 5 цифр, включно з найменуванням валюти, виведіть користувачеві відповідне повідомлення.

In [ ]:
def validate_input(user_input):
    pattern = r'^\d{2,5}\s*(\$|Euro|UAH|USD|SEK|NOK)$'
    if re.match(pattern, user_input):
        print("Введений рядок відповідає шаблону.")
    else:
        print("Введений рядок не відповідає шаблону.")

In [ ]:
user_input = input("Введіть рядок для перевірки: ")

validate_input(user_input)

Введіть рядок для перевірки: 54$
Введений рядок відповідає шаблону.

## 6. Попросіть користувача ввести дату, у формі число (від 1 до 31), найменування місяця та чотири цифри поточного року. Перевірте введену дату на відповідність шаблону. Якщо введений рядок не відповідає шаблону, виведіть відповідне повідомлення.

In [ ]:
def validate_date(date_string):
    pattern = r'^([1-9]|[12][0-9]|3[01])\s+(січня|лютого|березня|квітня|травня|червня|липня|серпня|вересня|жовтня|листопада|грудня)\s+\d{4}$'
    if re.match(pattern, date_string):
        print("Введена дата відповідає шаблону.")
    else:
        print("Введена дата не відповідає шаблону.")

In [ ]:
date_string = input("Введіть дату у форматі (число [1-31] місяць [січень-грудень] рік): ")
validate_date(date_string)

Введіть дату у форматі (число [1-31] місяць [січень-грудень] рік): 04.01.2024
Введена дата не відповідає шаблону.

## 7. Попросіть користувача ввести дату, у формі число та найменування місяця. Перевірте дату потрапляння в першу декаду місяця (перші 10 днів). Якщо введений рядок не відповідає шаблону, виведіть відповідне повідомлення.

In [ ]:
def validate_date_and_check_first_decade(date_string):
    pattern = r'^([1-9]|[12][0-9]|3[01])\s+(січня|лютого|березня|квітня|травня|червня|липня|серпня|вересня|жовтня|листопада|грудня)$'
    match = re.match(pattern, date_string)
    if match:
        day = int(match.group(1))
        if day <= 10:
            print("Введена дата потрапляє в першу декаду місяця.")
        else:
            print("Введена дата не потрапляє в першу декаду місяця.")
    else:
        print("Введена дата не відповідає шаблону.")

In [ ]:
date_string = input("Введіть дату у форматі (число місяць): ")
validate_date_and_check_first_decade(date_string)

Введіть дату у форматі (число місяць): 11 лютого
Введена дата не потрапляє в першу декаду місяця.

## 8. Попросіть користувача ввести наукове звання (професор, доцент), прізвище та ініціали. Наприклад: професор Іванченко С. І. Перевірте введений рядок на відповідність шаблону. Якщо введений рядок не відповідає шаблону, виведіть відповідне повідомлення. Виведіть на консоль запис у зворотному порядку: спочатку ініціали, а потім прізвище.

In [ ]:
def reverse_name(input_string):
    # Перевірка відповідності шаблону
    pattern = r'^(професор|доцент)\s+[А-ЯІЇЄҐ][а-яіїєґ]+\s+[А-ЯІЇЄҐ]\.\s[А-ЯІЇЄҐ]\.$'
    if re.match(pattern, input_string):
        # Розділення рядка на складові частини
        title, surname, initial1, initial2 = input_string.split()

        # Виведення запису у зворотному порядку
        print("Запис у зворотному порядку:", initial1, initial2, surname)
    else:
        print("Введений рядок не відповідає шаблону.")

In [ ]:
input_string = input("Введіть наукове звання, прізвище та ініціали (наприклад, професор Іванов І. І.): ")
reverse_name(input_string)

Введіть наукове звання, прізвище та ініціали (наприклад, професор Іванов І. І.): доцент Іванченко С. І.
Запис у зворотному порядку: С. І. Іванченко

## 9. Попросіть користувача ввести повне доменне ім'я, яке має починатися з найменування протоколу &quot;http://&quot; або &quot;https://&quot;, потім перераховуються домени різних рівнів, які складаються з літер й розділені крапкою, що закінчуються останнім двома буквеним або трилітерним доменом верхнього рівня (зоною), в кінці може бути необов'язковий слеш (http://example.com/). Якщо введений рядок не відповідає шаблону, виведіть відповідне повідомлення.

In [ ]:
def validate_domain_name(domain_name):
    pattern = r'^(http|https)://([a-zA-Z]+\.)+[a-zA-Z]{2,3}/?$'
    if re.match(pattern, domain_name):
        print("Введений рядок відповідає шаблону.")
    else:
        print("Введений рядок не відповідає шаблону.")

In [ ]:
domain_name = input("Введіть повне доменне ім'я (з початку 'http://' або 'https://'): ")
validate_domain_name(domain_name)

Введіть повне доменне ім'я (з початку 'http://' або 'https://'): http://github.com
Введений рядок відповідає шаблону.

## 10. Використовуючи регулярні вирази, виберіть слова:
1. які стоять після слів From
1. що представляють домену адресу (слова, що стоять після символу @)

***
From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008

X-Authentication-Warning: set sender to stephen.marquard@uct.ac.za using -f

From: stephen.marquard@uct.ac.za

Author: stephen.marquard@uct.ac.za

From david.horwitz@uct.ac.za Fri Jan 4 07:02:32 2008

X-Authentication-Warning: set sender to david.horwitz@uct.ac.za using -f

In [ ]:
# Вхідний текст
text = """
From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008

X-Authentication-Warning: set sender to stephen.marquard@uct.ac.za using -f

From: stephen.marquard@uct.ac.za

Author: stephen.marquard@uct.ac.za

From david.horwitz@uct.ac.za Fri Jan 4 07:02:32 2008

X-Authentication-Warning: set sender to david.horwitz@uct.ac.za using -f
"""

# Регулярний вираз для вибору слів після "From"
from_words = re.findall(r'From:\s+(\S+)', text)

# Регулярний вираз для вибору доменних адрес
domain_words = re.findall(r'@(\S+)', text)

print("Слова після 'From':", from_words)
print("Доменні адреси:", domain_words)

Слова після 'From': ['stephen.marquard@uct.ac.za']
Доменні адреси: ['uct.ac.za', 'uct.ac.za', 'uct.ac.za', 'uct.ac.za', 'uct.ac.za', 'uct.ac.za']

# Practice 3

## Завдання 1. Вдосконалити наведений код - додати обробку виключної ситуації, якщо введені значення не є числами (інформувати користувача про некоректне введення та запитати повторно)

In [ ]:
def division(first, second):
    try:
        result = first / second
        print(result)
    except ZeroDivisionError:
        print("Ділення на нуль неможливе.")
    except Exception as e:
        print("Сталася помилка:", e)

def calculation():
    while True:
        try:
            first = int(input("Введіть перше число: "))
            second = int(input("Введіть друге число: "))
            division(first, second)
            break  # Якщо введено коректні значення, вийти з циклу
        except ValueError:
            print("Введіть числове значення.")

calculation()

Введіть перше число: 5
Введіть друге число: s
Введіть числове значення.
Введіть перше число: 5
Введіть друге число: 0
Ділення на нуль неможливе.

## Завдання 2. Додати перевірку коректності введення та провести обробку винятку в разі, якщо тип данних при введені не відповідає очікуваному (int)

In [ ]:
# Define Python user-defined exceptions
class Error(Exception):
    """Base class for other exceptions"""
    pass

class ZeroDivision(Error):
    """Raised when the input value is zero"""
    pass

class InvalidInput(Error):
    """Raised when the input value is not an integer"""
    pass

try:
    while True:
        try:
            i_num = int(input("Enter a number: "))
            if i_num == 0:
                raise ZeroDivision
            break  # Вийти з циклу, якщо введено коректне значення
        except ValueError:
            raise InvalidInput
except ZeroDivision:
    print("Input value is zero, try again!")
except InvalidInput:
    print("Input value is not an integer, try again!")
print()

Enter a number: 0
Input value is zero, try again!

## Завдання 3. З попередньої роботи в задачах 2, 8 додати обробку виключної ситуації, введений рядок не відповідає очікуваній інформації

### Задача 2

In [ ]:
def swap_name_and_surname():
    try:
        full_name = input("Введіть ваше ім'я та прізвище: ")

        # Розділити ім'я та прізвище за допомогою регулярного виразу
        match = re.match(r'^([А-ЯҐЄІЇа-яґєії]+)\s+([А-ЯҐЄІЇа-яґєії]+)$', full_name)

        if match:
            # Отримати ім'я та прізвище з результуючої групи
            name = match.group(1)
            surname = match.group(2)

            # Вивести прізвище та ім'я
            print("Ім'я та прізвище після обміну:", surname, name)
        else:
            raise Exception('неправильний формат')
            print("Неправильний формат ім'я/прізвище.")
    except Exception as e:
        print("Виникла помилка:", e)

In [ ]:
swap_name_and_surname()

Введіть ваше ім'я та прізвище: Марина
Виникла помилка: неправильний формат

### Задача 8

In [ ]:
def reverse_name(input_string):
    # Перевірка відповідності шаблону
    pattern = r'^(професор|доцент)\s+[А-ЯІЇЄҐ][а-яіїєґ]+\s+[А-ЯІЇЄҐ]\.\s[А-ЯІЇЄҐ]\.$'
    if re.match(pattern, input_string):
        try:
            # Розділення рядка на складові частини
            title, surname, initial1, initial2 = input_string.split()

            # Виведення запису у зворотному порядку
            print("Запис у зворотному порядку:", initial1, initial2, surname)
        except ValueError:
            print("Помилка: невірний формат рядка.")
    else:
        print("Введений рядок не відповідає шаблону.")

In [ ]:
input_string = input("Введіть наукове звання, прізвище та ініціали (наприклад, професор Іванов І. І.): ")
reverse_name(input_string)

Введіть наукове звання, прізвище та ініціали (наприклад, професор Іванов І. І.): 55 44
Введений рядок не відповідає шаблону.

# Practice 4

In [ ]:
import sqlite3
import datetime
import pandas as pd
import random

## Завдання 1. Напишіть програму, яка створює у робочій директорії базу даних mydb. Заповнює базу даних інформацією про топ-10 фільмів зі списку фільмів на IMDb.

In [ ]:
movies_data = [
     ('Втеча з Шоушенка', 9.3, 1994, 'Френк Дарабонт', 'драма'),
     ('Хрещений батько', 9.2, 1972, 'Френсіс Форд Коппола', 'драма'),
     ('Хрещений батько 2', 9.0, 1974, 'Френсіс Форд Коппола', 'драма'),
     ('Темний лицар', 9.0, 2008, 'Крістофер Нолан', 'бойовик'),
     ('12 розгніваних чоловіків', 9, 1957, 'Сідні Люмет', 'драма'),
     ('Список Шиндлера', 9, 1993, 'Стівен Спілберг', 'драма'),
     ('Володар кілець: Повернення короля', 9, 2003, 'Пітер Джексон', 'фентезі'),
     ('Кримінальне чтиво', 8.9, 1994, 'Квентін Тарантіно', 'кримінал'),
     ('Хороший, поганий, злий', 8.8, 1966, 'Серджіо Леоне', 'вестерн'),
     ('Бійцівський клуб' , 8.8, 1999, 'Девід Фінчер' , 'драма' ),
]

In [ ]:
conn = sqlite3.connect('mydb.db')

conn.execute('''CREATE TABLE movies
                (назва TEXT,
                 рейтинг REAL,
                 рік INTEGER,
                 режисер TEXT,
                 жанр TEXT);''')

In [ ]:
conn = sqlite3.connect('mydb.db')

for movie in movies_data:
    conn.execute(f"INSERT INTO movies VALUES ('{movie[0]}', {movie[1]}, {movie[2]}, '{movie[3]}', '{movie[4]}')")

In [ ]:
conn.commit()
conn.close()

## Завдання 2. Напишіть програму, яка створює базу компанії та таблицю працівників. У таблиці є поля для зберігання імені, прізвища, віку та дати прийому працювати. Заповнити таблицю даними співробітників. Вивести список співробітників, який відсортовано за зменшенням стажу роботи.

In [ ]:
employees_data = [('Іван', 'Петров', 'менеджер', 28, '2021-01-01'),
                   ('Анна', 'Смирнова', 'розробник', 35, '2020-02-01'),
                   ('Єгор', 'Сергєєв', 'технічний письменник', 30, '2022-01-01'),
                   ('Олександр', 'Іванов', 'дизайнер', 42, '2019-11-01'),
                   ('Ольга', 'Попова', 'фінансист', 37, '2018-06-01'),
                   ('Дмитро', 'Кузнєцов', 'менеджер', 26, '2020-08-01'),
                   ('Марія', 'Ковальова', 'розробник', 31, '2021-03-01'),
                   ('Сергій', 'Морозов', 'технічний письменник', 48, '2017-05-01'),
                   ('Олена', 'Новікова', 'дизайнер', 34, '2019-09-01'),
                   ('Ігор', 'Соколів', 'фінансист', 30, '2017-11-01'),
                   ('Олексій', 'Смирнов', 'менеджер', 33, '2020-04-01'),
                   ('Катерина', 'Крилова', 'розробник', 29, '2021-02-01'),
                   ('Деніс', 'Медведєв', 'технічний письменник', 45, '2018-05-01'),
                   ('Олена', 'Іванова', 'дизайнер', 31, '2023-05-01'),
                   ('Дмитро', 'Терентьєв', 'фінансист', 29, '2017-09-01'),
                   ('Олег', 'Кузьмін', 'менеджер', 39, '2019-12-01'),
                   ('Анастасія', "Григор'єва", 'розробник', 33, '2021-05-01'),
                   ('Павло', 'Куликов', 'технічний письменник', 47, '2018-03-01'),
                   ('Марина', 'Єгорова', 'дизайнер', 28, '2023-03-01'),
                   ('Артем', 'Буров', 'фінансист', 26, '2017-11-01'),
                   ('Андрій', 'Ігнатьєв', 'менеджер', 32, '2022-06-01')]

In [ ]:
def calculate_experience(date_hired):
    today = datetime.date.today()
    hire_date = datetime.datetime.strptime(date_hired, '%Y-%m-%d').date()
    experience = (today.year - hire_date.year) * 12 + today.month - hire_date.month
    return experience

In [ ]:
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# Створення таблиці employees
cursor.execute('''CREATE TABLE employees
                (id INTEGER PRIMARY KEY,
                first_name TEXT,
                last_name TEXT,
                position TEXT,
                age INTEGER,
                hire_date TEXT)''')

In [ ]:
# Додавання даних до таблиці employees
for employee in employees_data:
    cursor.execute('INSERT INTO employees (first_name, last_name, position, age, hire_date) VALUES (?, ?, ?, ?, ?)',
                   (employee[0], employee[1], employee[2], employee[3], employee[4]))

In [ ]:
# Вилучення даних із таблиці employees та сортування за стовпцем hire_date
cursor.execute('SELECT * FROM employees')
employees = cursor.fetchall()
employees_sorted = sorted(employees, key=lambda x: calculate_experience(x[5]), reverse=True)

# Висновок відсортованого списку співробітників
for employee in employees_sorted:
    experience = calculate_experience(employee[5])
    print(f'{employee[1]} {employee[2]} - {experience} міс. досвіду роботи')

Сергій Морозов - 82 міс. досвіду роботи
Дмитро Терентьєв - 78 міс. досвіду роботи
Ігор Соколів - 76 міс. досвіду роботи
Артем Буров - 76 міс. досвіду роботи
Павло Куликов - 72 міс. досвіду роботи
Деніс Медведєв - 70 міс. досвіду роботи
Ольга Попова - 69 міс. досвіду роботи
Олена Новікова - 54 міс. досвіду роботи
Олександр Іванов - 52 міс. досвіду роботи
Олег Кузьмін - 51 міс. досвіду роботи
Анна Смирнова - 49 міс. досвіду роботи
Олексій Смирнов - 47 міс. досвіду роботи
Дмитро Кузнєцов - 43 міс. досвіду роботи
Іван Петров - 38 міс. досвіду роботи
Катерина Крилова - 37 міс. досвіду роботи
Марія Ковальова - 36 міс. досвіду роботи
Анастасія Григор'єва - 34 міс. досвіду роботи
Єгор Сергєєв - 26 міс. досвіду роботи
Андрій Ігнатьєв - 21 міс. досвіду роботи
Марина Єгорова - 12 міс. досвіду роботи
Олена Іванова - 10 міс. досвіду роботи

In [ ]:
conn.commit()
conn.close()

## Завдання 3. Надано датасет movies.csv. Напишіть програму, яка створює базу даних та таблицю з полями, ідентичними назвам стовпців у файлі movies.csv. Заповніть таблицю інформацією з файлу. Виведіть усі фільми з оцінкою аудиторії понад 60, які вийшли на екран після 2010 року.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/movies.csv')
#Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
conn = sqlite3.connect('mymovies.db')
c = conn.cursor()

c.execute('''CREATE TABLE movies
             (Film TEXT,
             Genre TEXT,
             LeadStudio TEXT,
             Audiencescore INTEGER,
             Profitability REAL,
             RottenTomatoes INTEGER,
             WorldwideGross TEXT,
             Year INTEGER)''')

for index, row in df.iterrows():
    c.execute("INSERT INTO movies VALUES (?, ?, ?, ?, ?, ?, ?, ?)", row)

conn.commit()

In [ ]:
conn = sqlite3.connect('mymovies.db')

query = '''SELECT *
           FROM movies
           WHERE Audiencescore > 60 AND Year > 2010'''

for row in conn.execute(query):
    print(*row)
conn.close()

Water For Elephants Drama 20th Century Fox 72 3.081421053 60 $117.09  2011
Twilight: Breaking Dawn Romance Independent 68 6.383363636 26 $702.17  2011
My Week with Marilyn Drama The Weinstein Company 84 0.8258 83 $8.26  2011
Midnight in Paris Romence Sony 84 8.744705882 93 $148.66  2011
Jane Eyre Romance Universal 77 0.0 85 $30.15  2011
Beginners Comedy Independent 80 4.471875 84 $14.31  2011
A Dangerous Method Drama Independent 89 0.44864475 79 $8.97  2011

## Завдання 4. Напишіть програму, яка створює базу даних mybooks та заповнює таблицю books даними про топ-25 найкращих книг за версією ВВС. Вивести дані про книги, які видані не в США та не у Великій Британії.

In [ ]:
books = [
('Джон', 'Р. Р. Толкін', 'Володар кілець', 'Великобританія'),
     ('Джейн', 'Остін', 'Гордість і упередження', 'Великобританія'),
     ("Філіп", "Пулман", "Темні початки", "Великобританія"),
     ('Дуглас', 'Адамс', 'Автостопом по галактиці', 'Великобританія'),
     ('Джоан', 'Роулінг', 'Гаррі Поттер і Кубок вогню', 'Великобританія'),
     ('Харпер', 'Лі', 'Вбити пересмішника', 'США'),
     ('Алан Олександр', 'Мілн', 'Вінні Пух', 'Великобританія'),
     ('Джордж', 'Оруелл', '1984', 'Великобританія'),
     ('Клайв Стейплз', 'Льюїс', 'Лев, чаклунка та платтяна шафа', 'Великобританія'),
     ('Шарлотта', 'Бронте', 'Джейн Ейр', 'Великобританія'),
     ('Джозеф', 'Хеллер', 'Виверт-22', 'США'),
     ('Емілі', 'Бронте', 'Грозовий перевал', 'Великобританія'),
     ('Себастьян', 'Фолкс', 'Співо птахів', 'Великобританія'),
     ('Дафна', "Дюмор'я", 'Ребека', 'Великобританія'),
     ('Джером', 'Селінджер', 'Над прірвою в житі', 'США'),
     ('Кеннет', 'Грем', 'Вітер у вербах', 'Великобританія'),
     ('Чарльз', 'Діккенс', 'Великі надії', 'Великобританія'),
     ('Луїза Мей', 'Олкотт', 'Маленькі жінки', 'США'),
     ('Луї', 'де Берньєр', 'Мандоліна капітана Кореллі', 'Великобританія'),
     ('Тарас', 'Шевченка', 'Заповіт', 'Україна'),
     ('Маргарет', 'Мітчелл', 'Віднесені вітром', 'США'),
     ('Джоан', 'Роулінг', 'Гаррі Поттер і філософський камінь', 'Великобританія'),
     ('Джоан', 'Роулінг', 'Гаррі Поттер і Таємна кімната', 'Великобританія'),
     ('Джоан', 'Роулінг', "Гаррі Поттер і в'язень Азкабану", 'Великобританія'),
     ('Джон', 'Р. Р. Толкін', 'Хоббіт, або Туди і назад', 'Великобританія')
]

In [ ]:
conn = sqlite3.connect('mybooks.db')

conn.execute('''CREATE TABLE books
                (id INTEGER PRIMARY KEY,
                 ім_я_автора TEXT,
                 прізвище_автора TEXT,
                 назва_роману TEXT,
                 країна TEXT);''')


conn.executemany("INSERT INTO books (ім_я_автора, прізвище_автора, назва_роману, країна) VALUES (?, ?, ?, ?)", books)
conn.commit()

In [ ]:
conn = sqlite3.connect('mybooks.db')

cursor = conn.execute("SELECT * FROM books WHERE країна NOT IN (?, ?)", ('США', 'Великобританія'))

for row in cursor:
    print(f"{row[0]} - {row[1]} {row[2]}, \"{row[3]}\", {row[4]}")
conn.close()

20 - Тарас Шевченка, "Заповіт", Україна

## Завдання 5. Напишіть дві програми:

Перша - створює базу даних pharmacy, в якій зберігаються дані про лікарські препарати. Друга - виконує пошук БД та виводить усі лікарські форми запитаного препарату.

In [ ]:
medicines = [('амоксицилін', 'BPharma', 'капсули', 265),
              ('амоксицилін', 'Healthy', 'сироп', 250),
              ('амоксицилін', 'Pharmstandart', 'пігулки', 150),
              ('амоксицилін', 'Teva', 'ампули', 350),
              ('аспірин', 'Bayer', 'пігулки', 100),
              ('аспірин', 'Stada', 'капсули', 120),
              ('аспірин', 'Teva', 'сироп', 190),
              ('валідол', 'Pharmstandart', 'таблетки', 50),
              ('валідол', 'Stada', 'капсули', 60),
              ('валідол', 'Healthy', 'сироп', 70),
              ("валеріана", "BPharma", "капсули", 80),
              ('валеріана', 'Pharmstandart', 'таблетки', 90),
              ('валеріана', 'Healthy', 'сироп', 100),
              ('гліцин', 'Pharmstandart', 'таблетки', 40),
              ('гліцин', 'BPharma', 'краплі', 30),
              ('діазолін', 'Healthy', 'пігулки', 120),
              ('діазолін', 'Pharmstandart', 'капсули', 130),
              ('діазолін', 'Stada', 'сироп', 140),
              ('димедрол', 'BPharma', 'таблетки', 50),
              ('димедрол', 'Healthy', 'капсули', 60),
              ('димедрол', 'Pharmstandart', 'сироп', 70),
              ( "димедрол", "Teva", "ампули", 170),
              ('ібупрофен', 'Bayer', 'пігулки', 80),
              ('ібупрофен', 'Healthy', 'капсули', 90),
              ('ібупрофен', 'Pharmstandart', 'сироп', 100),
              ('кетонал', 'Teva', 'таблетки', 200),
              ('кетонал', 'Stada', 'капсули', 210),
              ('Кетонал', 'BPharma', 'сироп', 220),
              ('мезим', 'Pharmstandart', 'таблетки', 150),
              ('мезим', 'Healthy', 'капсули', 160),
              ('мезим', 'BPharma', 'сироп', 170),
              ('нурофен', 'Bayer', 'пігулки', 120),
              ('нурофен', 'Healthy', 'капсули', 130),
              ('нурофен', 'Pharmstandart', 'сироп', 140)]

In [ ]:
conn = sqlite3.connect('pharmacy.db')
cursor = conn.cursor()

cursor.execute('''CREATE TABLE medicines
                (name text, manufacturer text, form text, price real)''')

cursor.executemany('INSERT INTO medicines VALUES (?,?,?,?)', medicines)

conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect('pharmacy.db')
cursor = conn.cursor()

medicine_name = input('Введіть назву препарату: ')
cursor.execute('''SELECT * FROM medicines
                WHERE name=?''', (medicine_name,))

rows = cursor.fetchall()

if len(rows) == 0:
    print(f'Препарат {medicine_name} не знайдено')
else:
    print(f'Знайдено записи про препарат {medicine_name}:')
    for row in rows:
        print(row)

conn.close()

Введіть назву препарату: валеріана
Знайдено записи про препарат валеріана:
('валеріана', 'BPharma', 'капсули', 80.0)
('валеріана', 'Pharmstandart', 'таблетки', 90.0)
('валеріана', 'Healthy', 'сироп', 100.0)

## Завдання 6. Напишіть дві програми:

Перша створює базу даних clothing та таблицю t-shirts у ній. У таблиці мають бути поля: бренд, розмір, ціна, колір. Скрипт заповнює таблицю даними про 20 футболок.

Друга вибирає з таблиці футболки розміру L вартістю до $100 не червоного кольору.

In [ ]:
t_shirts = [
    ('Levi\'s', 'S', 29.99, 'білий'),
     ('Nike', 'M', 24.99, 'чорний'),
     ('Adidas', 'L', 19.99, 'синій'),
     ('H&M', 'S', 14.99, 'червоний'),
     ('Reebok', 'M', 39.99, 'чорний'),
     ('Zara', 'L', 29.99, 'білий'),
     ('Puma', 'S', 19.99, 'сірий'),
     ('Lacoste', 'M', 49.99, 'зелений'),
     ('Calvin Klein', 'L', 59.99, 'синій'),
     ('Tommy Hilfiger', 'S', 44.99, 'червоний'),
     ('Gap', 'M', 34.99, 'сірий'),
     ('Uniqlo', 'L', 24.99, 'білий'),
     ('Hollister', 'S', 29.99, 'синій'),
     ('Diesel', 'M', 39.99, 'чорний'),
     ('Gucci', 'L', 199.99, 'червоний'),
     ('Armani', 'S', 149.99, 'сірий'),
     ('Ralph Lauren', 'M', 89.99, 'білий'),
     ('Hugo Boss', 'L', 129.99, 'синій'),
     ('Burberry', 'S', 299.99, 'червоний'),
     ('Versace', 'M', 249.99, 'чорний')
]

In [ ]:
conn = sqlite3.connect('clothing.db')

conn.execute('''CREATE TABLE t_shirts
                (id INTEGER PRIMARY KEY,
                 бренд TEXT,
                 розмір TEXT,
                 вартість REAL,
                 колір TEXT);''')


conn.executemany("INSERT INTO t_shirts (бренд, розмір, вартість, колір) VALUES (?, ?, ?, ?)", t_shirts)

conn.commit()

conn.close()

In [ ]:
conn = sqlite3.connect('clothing.db')

cursor = conn.execute("SELECT * FROM t_shirts WHERE розмір=? AND вартість < ? AND колір != ?", ('L', 100, 'червоний'))

for row in cursor:
    print(f"{row[0]} - {row[1]}, {row[2]}, ${row[3]}, {row[4]}")

conn.close()

3 - Adidas, L, $19.99, синій
6 - Zara, L, $29.99, білий
9 - Calvin Klein, L, $59.99, синій
12 - Uniqlo, L, $24.99, білий

## Завдання 7. Напишіть програму, яка створює базу даних з таблицею calories, що містить дані про калорійність основних продуктів харчування. Отримати від користувача рядок з перерахуванням продуктів та їхньої ваги. Вивести калорійність готової страви.

In [ ]:
calories_data = [('Огірок', 100, 15),
                  ('Помідор', 100, 18),
                  ('Морква', 100, 34),
                  ('Редька', 100, 20),
                  ('Картопля', 100, 77),
                  ('Цибуля', 100, 41),
                  ('Томатний сік', 100, 18),
                  ('Часник', 100, 149),
                  ('Яблуко', 100, 52),
                  ('Апельсин', 100, 47),
                  ('Банан', 100, 89),
                  ('Персик', 100, 39),
                  ('Вівсянка', 100, 366),
                  ('Гречка', 100, 342),
                  ('Рис', 100, 340),
                  ('Макарони', 100, 371),
                  ('Цукор', 100, 387),
                  ('Мед', 100, 304),
                  ('Молоко', 100, 63),
                  ('Кефір', 100, 52),
                  ('Сметана', 100, 292),
                  ('Сир твердий', 100, 385),
                  ('Риба жирна', 100, 205),
                  ( "Риба морська", 100, 69),
                  ('Куриця', 100, 123),
                  ('Яловичина', 100, 250),
                  ('Свинина', 100, 317),
                  ('Ковбаса варена', 100, 250),
                  ('Хліб чорний', 100, 224),
                  ('Хліб білий', 100, 264),
                  ('Батон', 100, 242),
                  ('Масло вершкове', 100, 749),
                  ('Борошно', 100, 340),
                  ('Баклажан', 100, 25),
                  ('Шоколад', 100, 546),
                  ('Горох', 100, 382),
                  ('Арахіс', 100, 567),
                  ('Мигдаль', 100, 575),
                  ('Кедрові горіхи', 100, 648),
                  ('Фундук', 100, 643)]

In [ ]:
conn = sqlite3.connect('calories.db')

conn.execute('''CREATE TABLE calories
                 (name TEXT PRIMARY KEY,
                  weight INTEGER,
                  calories INTEGER)''')

for item in calories_data:
    conn.execute('INSERT INTO calories (name, weight, calories) VALUES (?, ?, ?)', item)

conn.commit()
conn.close()

In [ ]:
con = sqlite3.connect('calories.db')
cursor = con.cursor()

input_str = input('Введіть назви продуктів та їх вагу через кому: ')

items = input_str.split(',')
total_calories = 0
for item in items:
    # Розбиваємо рядок на назву продукту та його вагу
    name, weight = map(str.strip, item.split(':'))
    name = name.capitalize()

    # Отримуємо калорійність продукту з бази даних
    result = cursor.execute("SELECT calories FROM calories WHERE name=?", (name,))
    row = result.fetchone()

    if row is not None:
        # Рахуємо калорійність поточного продукту
        product_calories = row[0] * float(weight) / 100

        # Додаємо калорії цього продукту до загальної калорійності
        total_calories += product_calories
    else:
        print(f"Продукт {name} відсутній у базі даних.")

# Виводимо загальну калорійність готової страви
print(f"Калорійність готової страви: {total_calories:.2f} ккал")
con.close()

Введіть назви продуктів та їх вагу через кому: макарони:200, огірок:67
Калорійність готової страви: 752.05 ккал

## Завдання 9. Є база даних retailcompany. Щодня, окрім вихідних, співробітники використовують CRM. Час входу та виходу за червень 2023 року реєструється в таблиці workload_june. Напишіть програму, яка визначає, скільки часу сумарно кожен співробітник провів у CRM у червні. Потрібно вивести список співробітників, які провели у CRM понад 95 годин.

In [ ]:
# Список з іменами та прізвищами співробітників та їх посадами
employees = [('Ілля', 'Смирнов', 'менеджер з продажу'),
              ('Максим', 'Іванов', 'бухгалтер'),
              ( "Артем", "Кузнєцов", "менеджер з постачання"),
              ("Михайло", "Попов", "консультант"),
              ('Олександр', 'Соколів', 'менеджер з продажу'),
              ('Дмитро', 'Лебедєв', 'бухгалтер'),
              ('Марія', 'Козлова', 'менеджер з постачання'),
              ('Анна', 'Новікова', 'консультант'),
              ('Ольга', 'Морозова', 'менеджер з продажу'),
              ('Ірина', 'Петрова', 'бухгалтер'),
              ('Олена', 'Соловйова', 'менеджер з постачання'),
              ('Наталія', 'Васильєва', 'консультант')]

In [ ]:
# Створення бази даних та підключення до неї
conn = sqlite3.connect('retailcompany.db')
cursor = conn.cursor()

# Створення таблиці workload_june
cursor.execute('''CREATE TABLE workload_june
                (date TEXT,
                first_name TEXT,
                last_name TEXT,
                position TEXT,
                time_in TEXT,
                time_out TEXT)''')

# Словник для збереження часу останнього виходу кожного працівника
last_login_time = {}

# Заповнення таблиці даними про входи та виходи співробітників за червень
for i in range(1, 31):
    if i in [3, 4, 10, 11, 17, 18, 24, 25]: # Виключаємо вихідні дні
        continue
    for j in range(1, len(employees) + 1):
        employee = employees[j - 1]
        first_name = employee[0]
        last_name = employee[1]
        position = employee[2]
        date = f'{i:02}.06.2023'
        if (first_name, last_name) not in last_login_time or last_login_time[(first_name, last_name)] != date:
            time_in = f'{random.randint(9, 11):02}:{random.randint(0, 59):02}'
            time_out = f'{random.randint(12, 17):02}:{random.randint(0, 59):02}'
            cursor.execute('''INSERT INTO workload_june
                              VALUES (?, ?, ?, ?, ?, ?)''', (date, first_name, last_name, position, time_in, time_out))
            last_login_time[(first_name, last_name)] = date

# Збереження змін та закриття бази даних
conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect('retailcompany.db')
cursor = conn.cursor()

# Створення словника для зберігання часу перебування кожного працівника
employee_time = {}

# Запит на обчислення часу перебування кожного співробітника CRM
cursor.execute('''SELECT date, first_name, last_name, time_in, time_out
                FROM workload_june''')

# Розрахунок часу перебування кожного працівника за кожен день
for row in cursor.fetchall():
    date_str = row[0]
    first_name = row[1]
    last_name = row[2]
    time_in_str = row[3]
    time_out_str = row[4]

    # Приведення дати та часу до потрібного формату
    date = datetime.datetime.strptime(date_str, '%d.%m.%Y').date()
    time_in = datetime.datetime.combine(date, datetime.datetime.strptime(time_in_str, '%H:%M').time())
    time_out = datetime.datetime.combine(date, datetime.datetime.strptime(time_out_str, '%H:%M').time())

    employee = (first_name, last_name)

    if employee not in employee_time:
        employee_time[employee] = {}

    if date not in employee_time[employee]:
        employee_time[employee][date] = 0

    # Обчислення часу перебування співробітника у системі
    time_spent = time_out - time_in
    minutes_spent = time_spent.seconds // 60
    employee_time[employee][date] += minutes_spent

# Розрахунок часу перебування кожного працівника за весь місяць
for employee, days in employee_time.items():
    total_minutes_spent = sum(days.values())
    total_hours_spent = total_minutes_spent // 60
    total_minutes_spent = total_minutes_spent % 60

    if total_hours_spent >= 95:
        print(f'{employee[0]} {employee[1]}: {total_hours_spent} годин та {str(total_minutes_spent).ljust(2, "0")} хвилин.')

# Закриття бази даних
conn.close()

Ілля Смирнов: 95 годин та 17 хвилин.
Максим Іванов: 102 годин та 25 хвилин.
Олександр Соколів: 100 годин та 60 хвилин.
Дмитро Лебедєв: 96 годин та 48 хвилин.
Марія Козлова: 104 годин та 27 хвилин.
Анна Новікова: 109 годин та 33 хвилин.
Ольга Морозова: 102 годин та 25 хвилин.
Ірина Петрова: 96 годин та 45 хвилин.
Олена Соловйова: 105 годин та 90 хвилин.
Наталія Васильєва: 95 годин та 52 хвилин.

## Завдання 10. Є база даних sales. В основі міститься таблиця cars. Дилер помилково вніс до таблиці дублюючі записи: вони повністю повторюють існуючі дані, за винятком неправильного регістру – назви марок та/або моделей у них завжди починаються з малих літер

Напишіть програму, яка:

1) Знаходить та виводить список записів, які мають дублікати.

2) Пропонує видалити дублікати, а у разі відповіді yes – видаляє їх.

In [ ]:
cars = [
     ('Audi', 'A6', 'чорний', 2.0, 240, 2000000),
     ('Audi', 'Q7', 'сірий', 3.0, 230, 4000000),
     ("BMW", "X5", "білий", 4.4, 250, 4500000),
     ('BMW', '5-серії', 'синій', 2.0, 220, 1800000),
     ('bmw', '5-серії', 'синій', 2.0, 220, 1800000),
     ('Chevrolet', 'Camaro', 'червоний', 3.6, 280, 3000000),
     ('audi', 'Q7', 'сірий', 3.0, 230, 4000000),
     ('Chevrolet', 'Tahoe', 'сірий', 5.3, 180, 3500000),
     ('Chevrolet', 'camaro', 'червоний', 3.6, 280, 3000000),
     ('Ford', 'Focus', 'жовтий', 1.6, 180, 900000),
     ('Ford', 'Mustang', 'синій', 5.0, 280, 2700000),
     ('Honda', 'Civic', 'чорний', 1.5, 220, 1200000),
     ('Honda', 'Accord', 'білий', 2.0, 240, 1800000),
     ('Honda', 'accord', 'білий', 2.0, 240, 1800000),
     ('Hyundai', 'Santa Fe', 'сірий', 2.4, 180, 1400000),
     ('Hyundai', 'Sonata', 'червоний', 2.0, 220, 1300000),
     ('Infiniti', 'FX35', 'чорний', 3.5, 240, 2500000),
     ('Infiniti', 'Q50', 'сірий', 2.0, 220, 2100000),
     ('KIA', 'Ceed', 'білий', 1.4, 180, 1000000),
     ('KIA', 'Sorento', 'синій', 2.2, 200, 1800000),
     ('Lexus', 'NX200', 'чорний', 2.0, 220, 2700000),
     ('Nissan', 'x-Trail', 'червоний', 2.0, 220, 1800000),
     ('Lexus', 'RX350', 'білий', 3.5, 240, 3500000),
     ('Mercedes-Benz', 'S500', 'сірий', 5.5, 250, 10000000),
     ('kia', 'Sorento', 'синій', 2.2, 200, 1800000),
     ('Lexus', 'rx350', 'білий', 3.5, 240, 3500000),
     ('Mercedes-Benz', 'GLE250', 'синій', 2.2, 230, 4000000),
     ('Nissan', 'Teana', 'білий', 2.5, 200, 1600000),
     ('Nissan', 'X-Trail', 'червоний', 2.0, 220, 1800000),
     ('nissan', 'Teana', 'білий', 2.5, 200, 1600000),
     ('Toyota', 'Camry', 'чорний', 2.5, 210, 2000000),
     ('Toyota', 'Land Cruiser 200', 'білий', 4.5, 220, 7000000),
     ('mercedes-Benz', 'S500', 'сірий', 5.5, 250, 10000000),
     ('Volkswagen', 'Passat', 'сірий', 1.8, 200, 1300000),
     ('volkswagen', 'Passat', 'сірий', 1.8, 200, 1300000)
]

In [ ]:
con = sqlite3.connect('sales.db')
cursor = con.cursor()

cursor.execute('''
    CREATE TABLE items (
        id INTEGER PRIMARY KEY,
        brand TEXT,
        model TEXT,
        color TEXT,
        engine_volume REAL,
        max_speed INTEGER,
        price INTEGER
    )
''')

for i, car in enumerate(cars):
    cursor.execute(
        f"INSERT INTO items VALUES ({i+1}, ?, ?, ?, ?, ?, ?)",
        (car[0], car[1], car[2], car[3], car[4], car[5])
    )

con.commit()
con.close()

In [ ]:
con = sqlite3.connect('sales.db')
cursor = con.cursor()

# Знаходимо дублікати
cursor.execute('''
    SELECT brand, model, engine_volume, max_speed, price, COUNT(*) FROM items
    GROUP BY LOWER(brand), LOWER(model), engine_volume, max_speed, price
    HAVING COUNT(*) > 1
''')

# Виводимо знайдені дублікати
duplicates = cursor.fetchall()
if duplicates:
    print('Ці записи мають дублікати:')
    for row in duplicates:
        print(row[:-1])
    answer = input('Бажаєте видалити дублікати? Введіть yes/no ' )
    if answer.lower() == 'yes':
        # Створюємо підключення до бази даних
        con = sqlite3.connect('sales.db')

        # Створюємо курсор для взаємодії з базою даних
        cursor = con.cursor()

        # Видаляємо дублікати зі значенням, що не починається на заголовну букву
        cursor.execute('''
            DELETE FROM items WHERE id NOT IN (
                SELECT id FROM (
                    SELECT id, ROW_NUMBER() OVER (
                        PARTITION BY LOWER(brand), LOWER(model), color, engine_volume, max_speed, price
                        ORDER BY id
                    ) row_number
                    FROM items
                ) WHERE row_number = 1 or (row_number = 2 and brand = LOWER(brand) and model = LOWER(model))
            )
        ''')
        # Зберігаємо зміни у базі даних
        con.commit()
        print('Дублікати видалені')
    else:
        print('Не забудьте видалити дублікати')
else:
    print('Дубликаты не найдены')

# Закриваємо з'єднання з базою даних
con.close()

Ці записи мають дублікати:
('Audi', 'Q7', 3.0, 230, 4000000)
('BMW', '5-серії', 2.0, 220, 1800000)
('Chevrolet', 'Camaro', 3.6, 280, 3000000)
('Honda', 'Accord', 2.0, 240, 1800000)
('KIA', 'Sorento', 2.2, 200, 1800000)
('Lexus', 'RX350', 3.5, 240, 3500000)
('Mercedes-Benz', 'S500', 5.5, 250, 10000000)
('Nissan', 'Teana', 2.5, 200, 1600000)
('Nissan', 'x-Trail', 2.0, 220, 1800000)
('Volkswagen', 'Passat', 1.8, 200, 1300000)
Бажаєте видалити дублікати? Введіть yes/no yes
Дублікати видалені